$primaryBackground: #ffffff;
$border: #ada8a80f;
$boxShadowPrimary: rgba(4, 130, 220, 0.23);
$titleColor: #050505;
$blue: #216fdb;
$secondaryTextColor: #65676b;
$scrollbarColor: #dedbdb;
$scrollbarHoverColor: #b0a8a8;
$scrollTrackColor: #f1f1f1;
$hoverColor: #00d1ff;
$hoverColorSecondary: #f2f2f2;
